{% extends "layout.html" %} {% block title %}To-Do App{% endblock %} {% block
content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      
        <div class="form-group">
          <table style="width: 100%">
            <tr>
              {% for item in view_model.items.trello_items %}
              <div> <!-- class="checkbox checkbox-warning checkbox-circle"> -->

                {% if item.status == 'Not Started' %}
                <tr>
                  <td>{{ item.title }}</td>
                  <td>
                   <a href="{{ url_for('complete_item', id=item.id ) }}"                  
                   <button type="button" class="btn btn-warning">Done</button>
                   </a>
                  </td>
                </tr>
                {% else %}
                <tr>
                  <td>{{ item.title }}</td>
                  <td>
                  <a href="{{ url_for('uncomplete_item', id=item.id ) }}"                  
                  <button type="submit" class="btn btn-success" name="UnDo" >UnDone</button>
                  </a>
                  </td>
                </tr>
               {% endif %} {% endfor %}
              &nbsp;    
              <form action="add_todo_item" method="post" class="form-group">
              <tr>
                <td>
                <input type="text" class="form-control" id="todo" name="new_todo_item"placeholder="Enter New To Do Item"/>    
                </td>
                <td>
                  <button type="submit" class="btn btn-warning" name="add_todo_item">Add New Item</button>
                </td>
                </tr>
                </div>
            </tr>
            </form>
          </table>
          &nbsp;
          <br />
        </div>
      
    </ul>
  </div>
</div>

{% endblock %}
